PORT=8000
MONGODB_URL=

NODE_ENV=development
JWT_SECRET=
JWT_REFRESH_SECRET=
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
